<html>
<style>
body{
background-image: url("{{ url_for('static', filename='images/s2.jpg') }}");
background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    }
 /*.container{
 	background-image: url("{{ url_for('static', filename='images/daib.jpg') }}");
 }*/
 .col-sm-3{
 	background-image: url("{{ url_for('static', filename='images/bluebg.jpg') }}");
 	color: white;
 	position: centre;
 }
 /*.card-card-body{
 	background-image: url("{{ url_for('static', filename='images/daib.jpg') }}");
 }*/
</style>

	<head>
	<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link rel = "icon" href = "{{ url_for('static', filename='images/lo.jpg') }}" type = "image/x-icon">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		<title>Diabetes Prediction</title>
	</head>
	<body>
	<!-- Java Script -->	
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

		
		<!-- Navbar-->
		<nav class="navbar navbar-dark bg-dark">
			<span class="navbar-brand mb-0 h1">Diabetes Prediction</span>
			<a class="navbar-brand mb-0 h1" href="{{ url_for('home') }}">Home</a>
		</nav>
		<div class="container">
			<br>
			<!--Form-->
			<form action = "{{url_for('predict_diab')}}" method ="POST" >
				<fieldset>
				<legend style="color: white;">Fill the required fields for Diabetes Prediction</legend><br>
				  <div class="card-card-body" >
					  <div class="form-group-row">
						<div class="col-sm-3">
							<label for="age">Pregenancies</label>
							<input type="number" placeholder="(0-3)" class="form-control" id="preg" name="pregnancies" required>
						</div>
						<div class="col-sm-3">
							<label for="glucose">Glucose</label>
							<input type="number" placeholder="(0-200)" class="form-control" id="preg" name="glucose" required>
					   </div>
					   <div class="col-sm-3">
							<label for="age">Blood Pressure in mm Hg</label>
							<input type="number" placeholder="Upper Value(0-120)" class="form-control" id="preg" name="bloodpressure" required>
						</div>
					 	<div class="col-sm-3">
							<label for="sex">Skin Thickness</label>
							<input type="number" placeholder="in mm" class="form-control" id="preg" name="skinthickness" required>
					   </div>
						<div class="col-sm-3">
							<label for="age">Insulin Serum</label>
							<input type="number" placeholder="(0-845)" class="form-control" id="preg" name="insulin" required>
						</div>
						<div class="col-sm-3">
							<label for="sex">Body Mass Index</label>
							<input type="number" placeholder="(0-70)" class="form-control" id="preg" name="bmi" required>
							</select>
					   </div>
						<div class="col-sm-3">
							<label for="age">Diabetes Pedigree function</label>
							<input type="number" placeholder="(Ex-1/0.56)" class="form-control" id="preg" name="dpf" required>
						</div>
						<div class="col-sm-3">
							<label for="sex">Age</label>
							<input type="number" placeholder="(21-80)" class="form-control" id="preg" name="age" required>
					   </div>
					   <br>
					  <div class="form-group">
						<input class="btn btn-primary" type="submit" value="Predict">
					  </div>
					  <!--Prediction Result-->
					  <!-- <div id ="result">
							<strong style="color:red">{{result}}</strong> -->
					 </div>
				     </div>
			 </fieldset>
			</form>
			
		</div>
		
	</body>
</html>